<%= tag.div(id: id(suffix: 'section'), **html_attributes) do %>
  <div class="<%= brand %>-accordion__section-header">
    <%= content_tag(heading_level, class: "#{brand}-accordion__section-heading") do %>
      <%= tag.span(heading_content, id: id, class: "#{brand}-accordion__section-button", aria: { expanded: expanded?, controls: id(suffix: 'content') }) %>
    <% end %>
    <% if summary_content.present? %>
      <%= tag.div(summary_content, id: id(suffix: 'summary'), class: "#{brand}-accordion__section-summary #{brand}-body") %>
    <% end %>
  </div>
  <%= tag.div(content, id: id(suffix: 'content'), role: 'region', class: "#{brand}-accordion__section-content", aria: { labelledby: id }) %>
<% end %>
