<%= tag.div(id: @id, class: classes, data: { module: 'govuk-accordion' }, **html_attributes) do %>
  <% sections.each do |section| %>
    <%= tag.div(id: section.id(suffix: 'section'), class: section.classes, **section.html_attributes) do %>
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <%= tag.span(section.title, id: section.id, class: "govuk-accordion__section-button") %>
        </h2>
        <% if section.summary.present? %>
          <%= tag.div(section.summary, id: section.id(suffix: 'summary'), class: %w(govuk-accordion__section-summary govuk-body)) %>
        <% end %>
      </div>
      <%= tag.div(section.content, id: section.id(suffix: 'content'), class: %w(govuk-accordion__section-content), aria: { labelledby: section.id }) %>
    <% end %>
  <% end %>
<% end %>
