<%= tag.div(id: @id, class: classes, data: { module: 'govuk-accordion' }, **html_attributes) do %>
  <% sections.each do |section| %>
    <%= tag.div(id: section.id(suffix: 'section'), class: section.classes, **section.html_attributes) do %>
      <div class="govuk-accordion__section-header">
        <%= content_tag(heading_level, class: "govuk-accordion__section-heading") do %>
          <%= tag.span(section.title, id: section.id, class: "govuk-accordion__section-button", aria: { expanded: section.expanded?, controls: section.id(suffix: 'content') }) %>
        <% end %>
        <% if section.summary.present? %>
          <%= tag.div(section.summary, id: section.id(suffix: 'summary'), class: %w(govuk-accordion__section-summary govuk-body)) %>
        <% end %>
      </div>
      <%= section %>
    <% end %>
  <% end %>
<% end %>
