<%= tag.div(class: classes.append(success_class).compact, **html_attributes, role: "region", aria: { labelledby: "govuk-notification-banner-title" }, data: { module: "govuk-notification-banner" }) do %>
  <div class="govuk-notification-banner__header">
    <%= content_tag(title_tag, class: "govuk-notification-banner__title", id: "govuk-notification-banner-title") do %>
      <%= title %>
    <% end %>
  </div>
  <div class="govuk-notification-banner__content">
    <% headings.each do |heading| %>
      <p class="govuk-notification-banner__heading">

        <%= heading.text %>.
        <% if heading.link_target && heading.link_text %>
          <%= link_to(heading.link_text, heading.link_target, class: "govuk-notification-banner__link") %>.
        <% end %>
      </p>
    <% end %>

    <%= content %>
  </div>
<% end %>
