<!DOCTYPE html>
<html class="govuk-template">
  <head>
    <title>Dummy</title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <%= govuk_skip_link %>
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content">
        <%= yield %>
      </main>
    </div>
  <script>
    window.GOVUKFrontend.initAll();
  </script>
  </body>
</html>
