<%= tag.div(id: id(suffix: 'section'), **html_attributes) do %>
  <div class="govuk-accordion__section-header">
    <%= content_tag(heading_level, class: "govuk-accordion__section-heading") do %>
      <%= tag.span(heading_content, id: id, class: "govuk-accordion__section-button", aria: { expanded: expanded?, controls: id(suffix: 'content') }) %>
    <% end %>
    <% if summary_content.present? %>
      <%= tag.div(summary_content, id: id(suffix: 'summary'), class: %w(govuk-accordion__section-summary govuk-body)) %>
    <% end %>
  </div>
  <%= tag.div(content, id: id(suffix: 'content'), class: %w(govuk-accordion__section-content), aria: { labelledby: id }) %>
<% end %>
