<%= tag.div(**html_attributes) do %>
  <div class="<%= brand %>-summary-card__title-wrapper">
    <%= content_tag(heading_level, title, class: "#{brand}-summary-card__title") %>

    <% if actions.any? %>
      <ul class="<%= brand %>-summary-card__actions">
        <% actions.each do |action| %>
          <%= tag.li(action_text(action), class: "#{brand}-summary-card__action") %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="<%= brand %>-summary-card__content">
    <%= summary_list || content %>
  </div>
<% end %>
